<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EP - Banco de dados</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">EP - Banco de dados</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/evento">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/atividades">Atividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artigo">Artigos</a>
          </li>
        </ul>
      </div>
    </nav>
