<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EP - Banco de Dados</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Sistema de gerenciamento de clínicas</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/paciente">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consulta">Consultas</a>
          </li>
        </ul>
      </div>
    </nav>
